doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        <link rel="stylesheet" href="/css/main.css">
        title Myamazonka
    body
        header 
            .container 
                section.header
                    .header__left 
                        img(src='/imags/amazonka.svg' alt='rasm').header__img
                        .header__hero  
                            img(src='/imags/Location Icon.svg', alt='rasm').header__img-1
                            p.header__paragraph Deliver to #[br] #[span.header__span Pakistan]
                      
                        form
                            input(type="text" placeholder="Поиск").header__input 
                            button.btn All
                                img(src='/imags/Dropdown icon.svg', alt="logo").dropdown__d
                            button.btn__l
                                img(src='/imags/Icon.svg', alt="rasm").header__img-3

                        img(src='/imags/states.svg', alt="logo").header__img-2
                        img(src='/imags/Dropdown icon.svg', alt="logo").dropdown
                        p.header__paragraph Hello, Sign in #[br] #[span.header__span  Account & Lists]
                        img(src='/imags/Dropdown icon.svg', alt="logo").dropdown 
                        p.header__paragraph Returns #[br] #[span.header__span & Orders]
                        img(src='/imags/korzinka.svg', alt="logo").header__img-2
                        p.header__paragraph__d Cart

        nav.navbar
            .container
                section.navbar__end 
                    .navbar__hero
                        ol   
                            img(src='/imags/Navbar.svg', alt="logo")
                            li 
                                a(href='#') All

                            li 
                                a(href='#') Today’s Deals

                            li 
                                a(href='#') Customer Service

                            li 
                                a(href='#') Registry

                            li 
                                a(href='#') Gift Cards

                            li 
                                a(href='#') Sell             


        main
            
                section.services 
                    .amazon
                        img(src='/imags/Rectangle 3.png', alt="rasm").amazon__img
                        img(src='/imags/Previous.svg', alt="logo").amazon__img1
                        img(src='/imags/Next icon.svg', alt="logo").amazon__img2


                    .container
                        ol.amazon__ol 
                            li.amazon__li 
                                h3.amazon__h3 Gaming Accessories
                                img(src='/imags/Rectangle 15.png', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 40.00] 
                                    p.amazon__p2 #[del $ 55.50] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (192)
                                    a(href="#").amazon__a #[b  See more] 

                            li.amazon__l 
                                h3.amazon__h3 Shop activity trackers and #[br] smartwatches
                                img(src='/imags/Rectangle 37.svg', alt="rasm").amazon__png
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 20.50] 
                                    p.amazon__p2 #[del $ 25.00] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (176)
                                    a(href="#").amazon__a #[b  See more] 


                            li.amazon__l 
                                h3.amazon__h3 Dresses
                                img(src='/imags/Rectangle 41.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 15.00 ] 
                                    p.amazon__p2 #[del $ 18.00] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (201)
                                    a(href="#").amazon__a #[b  See more] 



                            li.amazon__l 
                                h3.amazon__h3 Shop school essentials
                                img(src='/imags/Rectangle 42.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 10.50] 
                                    p.amazon__p2 #[del $ 15.50] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (97)
                                    a(href="#").amazon__a #[b  See more]



                            li.amazon__lr 
                                h3.amazon__h3 New arrivals in Toys
                                img(src='/imags/Rectangle 43.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 40.50] 
                                    p.amazon__p2 #[del $ 50.00] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (103)
                                    a(href="#").amazon__a #[b  See more]


                            li.amazon__ld 
                                h3.amazon__h3 Shop backpacks
                                img(src='/imags/Rectangle 44.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 14.50] 
                                    p.amazon__p2 #[del $ 20.50] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (50)
                                    a(href="#").amazon__a #[b  See more]



                            li.amazon__ld 
                                h3.amazon__h3 Shop Laptops & Tablets
                                img(src='/imags/Rectangle 45.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 185.50] 
                                    p.amazon__p2 #[del $ 200.50] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (304)
                                    a(href="#").amazon__a #[b  See more]



                            li.amazon__ld 
                                h3.amazon__h3 For your Fitness Needs
                                img(src='/imags/Rectangle 46.svg', alt="rasm").amazon__logo
                                p.amazon__p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                .del 
                                    p.amazon__p1 #[b $ 12.00] 
                                    p.amazon__p2 #[del $ 15.50] 
                                .amazon__svg
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    img(src='/imags/bi_star-fill.svg', alt="logo")
                                    p.amazon__p3 (97)
                                    a(href="#").amazon__a #[b See more] 

                section.variables 
                    .container 
                        .computer
                            h3 Top Sellers in Computers & Accessories
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 56.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 57.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 58.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 59.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 60.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 61.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 62.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 56.svg', alt="rasm")

                                

                                
                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3

                        .computer__hero
                            h3 International top sellers in Home
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 63.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 64.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 65.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 66.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 67.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 68.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 69.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 56.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3
                            

                            
                                
                .carts.school 
                        .container 
                            ul.carts__list 
                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Back to school
                                        img(src='/imags/Rectangle 47.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 11.50
                                            ins.carts__ins_2 $ 15.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (58)
                                        a(href="#").bottom__link See More

                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Computers & Accessories
                                        img(src='/imags/Rectangle 49.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 150.00
                                            ins.carts__ins_2 $ 180.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (156)
                                        a(href="#").bottom__link See More
   
                        

                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Health & Personal Care
                                        img(src='/imags/Rectangle 50.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 30.50
                                            ins.carts__ins_2 $ 40.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (108)
                                        a(href="#").bottom__link See More

                        
                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Get fit at home
                                        img(src='/imags/Rectangle 51.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 15.50
                                            ins.carts__ins_2 $ 20.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (58)
                                        a(href="#").bottom__link See More
                                


                               
                            
                section.school__baby
                    .container 
                        .baby__lest 
                            h3 Top Sellers in Baby Products for you
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 70.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 71.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 72.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 73.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 74.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 75.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 76.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 77.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3 

                                 

                        .baby__lest 
                            h3 International top sellers in Home Improvement
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 77.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 78.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 79.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 80.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 81.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 82.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 83.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 75.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3 




                           
                .carts.school 
                        .container 
                            ul.carts__list 
                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Shop activity trackers and smartwatches
 
                                        img(src='/imags/Rectangle 52.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 12.50
                                            ins.carts__ins_2 $ 15.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (155)
                                        a(href="#").bottom__link See More

                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Shop school essentials
                                        img(src='/imags/Rectangle 53.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 11.50
                                            ins.carts__ins_2 $ 15.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (58)
                                        a(href="#").bottom__link See More
   
                        

                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 New arrivals in Toys
                                        img(src='/imags/Rectangle 54.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 18.50
                                            ins.carts__ins_2 $ 20.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (115)
                                        a(href="#").bottom__link See More

                        
                                li.carts__list__item 
                                    a(href="#").carts__list__link
                                        h3.carts__h3 Kindle E readers
                                        img(src='/imags/Rectangle 55.svg', alt="rasm").carts__img 
                                        p.carts__desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, ...
                                
                                        .ins 
                                            ins.carts__ins_1 $ 108.50
                                            ins.carts__ins_2 $ 130.50
                            
                                    .cart--bottom 
                                        .stars 
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                            img(src='/imags/bi_star-fill.svg', alt="logo")
                                        p.bottom__ins (125)
                                        a(href="#").bottom__link See More
                                
                        

                section.school__baby
                    .container 
                        .baby__lest 
                            h3 Popular products in Beauty internationally
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 84.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 85.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 86.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 87.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 89.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 90.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 69.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 56.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3 

                                 

                        .baby__lest 
                            h3 Popular products in Apparel internationally
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 91.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 92.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 93.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 94.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 95.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 96.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 97.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 95.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3 



                        .baby__lest 
                            h3 Top Sellers in Toys for you
                            ul.computer__lest
                                button.computer__btn 
                                    img(src='/imags/Vector.svg', alt="logo").computer__img2 
                                li 
                                    img(src='/imags/Rectangle 98.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 99.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 100.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 101.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 102.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 103.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 104.svg', alt="rasm")
                                li 
                                    img(src='/imags/Rectangle 93.svg', alt="rasm")

                                
                                button.computer__btn__dd
                                    img(src='/imags/Vector (1).svg', alt="logo").computer__img3



                section.start
                    .container 
                        p.start__new1 See personalized recommendations
                        button.start__btn Sign in
                        p.start__new New customer? #[span.start__span Start here.] 
        




        footer.footer 
            .footer__hero 
                p.footer__hero__back Back to top

            .footer__left 
                ol.footer__left 
                    li.footer__left__rr
                        h3.footer__left__h3 Get to Know Us
                        p Careers
                        p Blog
                        p About MyAmazon
                        p Investor Relations
                        p MyAmazon Devices
                        p MyAmazon Science

                    li.footer__left__rr 
                        h3.footer__left__h3 Make Money with Us
                        p Sell products on MyAmazon
                        p Sell on MyAmazon Business
                        p Sell apps on MyAmazon
                        p Become an Affiliate 
                        p Advertise Your Products
                        p Self-Publish with Us
                        p Host an MyAmazon Hub
                        p See More Make Money with Us

                    li.footer__left__rr 
                        h3.footer__left__h3 MyAmazon Payment Products
                        p MyAmazon Business Card
                        p Shop with Points
                        p Reload Your Balance
                        p MyAmazon Currency Converter

                    li.footer__left__rr 
                        h3.footer__left__h3 Let Us Help You
                        p MyAmazon and COVID-19
                        p Your Account
                        p Your Orders
                        p Shipping Rates & Policies
                        p Returns & Replacements
                        p Manage Your Content and Devices
                        p MyAmazon Assistant
                        p Help

            .footer__right
                ul.footer__right__p 
                    li.footer__right__p1
                       a(href="#")
                            img(src='/imags/myamazon logo.svg', alt="foooter-logo") 
                    li.footer__right__p2 
                        img(src='/imags/globe icon.svg').footer__right__icon2
                        p.footer__right__d English
                        img(src='/imags/Dropdown Icon (1).svg', alt="icon")

                    li.footer__right__p3 #[span.footer__right__span $]    USD - U.S. Dollar
                    li.footer__right__p3 
                        img(src='/imags/united-states 2.svg', alt="icon")
                        p United States

            .footer__end 

            ul.footer__end__list 
                li.footer--end__list__item Conditions of Use
                li.footer--end__list__item Privacy Notice
                li.footer--end__list__item Interest-Based Ads
                li.footer--end__list__item © 1996-2022, Amazon.com, Inc. or its affiliates 
