.services{
    background-image: url(/imags/Rectangle\ 3.png);
    width: 100%;
    height: 500px;
}


.amazon__img{
    position: relative;
    width: 100%;
    height: 500px;
}



.amazon__img1{
    position: absolute;
    width: 36px;
    height: 52px;
    margin-left: -1455px;   
    top: 225px;
     
}

.amazon__img2{
    position: absolute;
    margin-left: -95px;
    top: 225px;
}

.amazon__li{
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    width: 345px;
    height: 420px;
}

.amazon__png{
    width: 295px;
    height: 211px;
}

.amazon__l{
    width: 345px;
    height: 420px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    
}

.amazon__lr{
    width: 345px;
    height: 420px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
    
}

.amazon__ld{
    width: 345px;
    height: 420px;
    background-color: #fff;
    padding: 20px 20px 20px 20px;
}




.amazon__ol{
    position: absolute;
    gap: 20px;
    display: flex;
    top: 350px;
    flex-wrap: wrap;
    
}

.amazon__h3{
    font-size: 21px;
    line-height: 22px;
    margin-bottom: 15px;
}

.amazon__logo{
    width: 295px;
    height: 233px;
}

.amazon__p{
    font-size: 15px;
    width: 281px;
    height: 32px;
    margin-top: 15px;
}

.amazon__p1{
    font-size: 18px;
    margin-top: 15px;
}

.amazon__p2{
    font-size: 12;
    color: red;
    margin-top: 17px;

}

.del{
    display: flex;
    gap: 7px;
    margin-bottom: 15px;
}

.amazon__svg{
    display: flex;
}

.amazon__p3{
    margin-left: 7px;  
}

.amazon__a{
    font-size: 15px;
    margin-left: 105px;
}