.start{
    margin-top: 70px;
    margin-bottom: 70px;
    
    .container{
        height: 78px;
        background-color: #fff;  
        padding-top: 7px;          
            .start__new1,.start__new{
                font-size: 15px;
                font-weight: 500;
                text-align: center;
                font-weight: 400;
            }

            .start__btn{
                padding: 9px 83px;
                border:none;
                background-color: #ffc700;
                color:#000;
                font-size: 12px;
                font-weight: bold;
                border-radius:5px;
                display: block;
                margin: 0 auto;
                transition: all .3s ease;
                cursor: pointer;
            }

            .start__btn:hover{
                background-color: #fff;
                color:#ffc700;
                border: 3px solid #ffc700;
                transition: all .3s ease;
            }

            .start__btn:active{
                opacity: .3;
                transition: all .3s ease;
            }

            .start__span{
                color:#0038FF;
            }
        }
    }
