.computer{
    ul{
    position: absolute;
    margin-top: 20px;
    display: flex;
    gap: 20px;
   
   margin-left: 20px;
}
}

.baby__lest{
    ul{
        position: absolute;
        margin-top: 20px;
        display: flex;
        gap: 20px;
       margin-left: 20px;  
    }
}

.baby__lest{
    background-color: #ffff;
    height: 260px;
    margin-top: 20px;
    padding-bottom: 285px;
    // margin-top: 620px;
}

.computer{
    // position: relative;
    background-color: #ffff;
    height: 260px;
    margin-top: 20px;
    padding-bottom: 285px;
    margin-top: 620px;
    
}

.computer__hero{
    // position: relative;
    background-color: #ffff;
    height: 280px;
    margin-top: 20px;
    
}

.computer__hero{
    ul{
    position: absolute;
    margin-top: 20px;
    display: flex;
    gap: 20px;
    margin-left: 20px;
    }
}

.computer__hero{
    h3{
        font-size: 21px;
        line-height: 24.15px;
        padding-left: 20px;
        padding-top: 20px;
        font-weight: 700; 
    }
}

.baby__lest h3{
    font-size: 21px;
    line-height: 24.15px;
    padding-left: 20px;
    padding-top: 20px;
    font-weight: 700;
}



.computer__btn{
    position: absolute;
    width: 45px;
    height: 100px;
    top: 50px;
    background-color: #efe8e8;
    border: 2px solid #efe8e8;
}

.computer__img2{
    position: absolute;
    top: 40px;
    left: 10px;
}



.computer__btn__dd{
    position: absolute;
    width: 45px;
    height: 100px;
    top: 50px;
    margin-left: 1300px;
    background-color: #efe8e8;
    border: 2px solid #efe8e8;
}